@import './system.css';
@import './flex.css';
@import './spacing.css';
@import './border.css';
@import './typography.css';

/* general settings */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''),
    url('/fonts/Ubuntu-Regular.ttf') format('truetype')
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-display: swap;
  margin: 0;
}
/* end of general settings */

.cursor-pointer {
  cursor: pointer !important;
}

[aria-busy='true'] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled] {
  cursor: default;
}
