/* root variables */
:root {
  --space-base: 1rem;
  /* --space-x-base: var(--space-base); */
  /* --space-y-base: var(--space-base); */

  --space-none: 0;
  --space-xs: calc(var(--space-base) * 0.25);
  --space-sm: calc(var(--space-base) * 0.5);
  --space-md: var(--space-base);
  --space-lg: calc(var(--space-base) * 1.5);
  --space-xl: calc(var(--space-base) * 3);
}

/* declarations */
/* [p|m][t|r|b|l|a|x|y]-[none|auto|xs|sm|md|lg|xl]
   T         D                   S
T = type : p (padding), m (margin)
D = direction : t (top), r (right), b (bottom), l (left), a (all), x (both left & right), y (both top & bottom)
S = size : none, auto (ONLY for specific margins: q-ml-*, q-mr-*, q-mx-*),  xs (extra small), sm (small), md (medium), lg (large), xl (extra large)
*/
.pt-none { padding-top: var(--space-none) }
.pt-auto { padding-top: var(--space-auto) }
.pt-xs { padding-top: var(--space-xs) }
.pt-sm { padding-top: var(--space-sm) }
.pt-md { padding-top: var(--space-md) }
.pt-lg { padding-top: var(--space-lg) }
.pt-xl { padding-top: var(--space-xl) }
.pr-none { padding-right: var(--space-none) }
.pr-auto { padding-right: var(--space-auto) }
.pr-xs { padding-right: var(--space-xs) }
.pr-sm { padding-right: var(--space-sm) }
.pr-md { padding-right: var(--space-md) }
.pr-lg { padding-right: var(--space-lg) }
.pr-xl { padding-right: var(--space-xl) }
.pb-none { padding-bottom: var(--space-none) }
.pb-auto { padding-bottom: var(--space-auto) }
.pb-xs { padding-bottom: var(--space-xs) }
.pb-sm { padding-bottom: var(--space-sm) }
.pb-md { padding-bottom: var(--space-md) }
.pb-lg { padding-bottom: var(--space-lg) }
.pb-xl { padding-bottom: var(--space-xl) }
.pl-none { padding-left: var(--space-none) }
.pl-auto { padding-left: var(--space-auto) }
.pl-xs { padding-left: var(--space-xs) }
.pl-sm { padding-left: var(--space-sm) }
.pl-md { padding-left: var(--space-md) }
.pl-lg { padding-left: var(--space-lg) }
.pl-xl { padding-left: var(--space-xl) }
.pa-none { padding: var(--space-none) }
.pa-auto { padding: var(--space-auto) }
.pa-xs { padding: var(--space-xs) }
.pa-sm { padding: var(--space-sm) }
.pa-md { padding: var(--space-md) }
.pa-lg { padding: var(--space-lg) }
.pa-xl { padding: var(--space-xl) }
.px-none { padding-left: var(--space-none); padding-right: var(--space-none) }
.px-auto { padding-left: var(--space-auto); padding-right: var(--space-auto) }
.px-xs { padding-left: var(--space-xs); padding-right: var(--space-xs) }
.px-sm { padding-left: var(--space-sm); padding-right: var(--space-sm) }
.px-md { padding-left: var(--space-md); padding-right: var(--space-md) }
.px-lg { padding-left: var(--space-lg); padding-right: var(--space-lg) }
.px-xl { padding-left: var(--space-xl); padding-right: var(--space-xl) }
.py-none { padding-top: var(--space-none); padding-bottom: var(--space-none) }
.py-auto { padding-top: var(--space-auto); padding-bottom: var(--space-auto) }
.py-xs { padding-top: var(--space-xs); padding-bottom: var(--space-xs) }
.py-sm { padding-top: var(--space-sm); padding-bottom: var(--space-sm) }
.py-md { padding-top: var(--space-md); padding-bottom: var(--space-md) }
.py-lg { padding-top: var(--space-lg); padding-bottom: var(--space-lg) }
.py-xl { padding-top: var(--space-xl); padding-bottom: var(--space-xl) }
.mt-none { padding-top: var(--space-none) }
.mt-auto { padding-top: var(--space-auto) }
.mt-xs { padding-top: var(--space-xs) }
.mt-sm { padding-top: var(--space-sm) }
.mt-md { padding-top: var(--space-md) }
.mt-lg { padding-top: var(--space-lg) }
.mt-xl { padding-top: var(--space-xl) }
.mr-none { padding-right: var(--space-none) }
.mr-auto { padding-right: var(--space-auto) }
.mr-xs { padding-right: var(--space-xs) }
.mr-sm { padding-right: var(--space-sm) }
.mr-md { padding-right: var(--space-md) }
.mr-lg { padding-right: var(--space-lg) }
.mr-xl { padding-right: var(--space-xl) }
.mb-none { padding-bottom: var(--space-none) }
.mb-auto { padding-bottom: var(--space-auto) }
.mb-xs { padding-bottom: var(--space-xs) }
.mb-sm { padding-bottom: var(--space-sm) }
.mb-md { padding-bottom: var(--space-md) }
.mb-lg { padding-bottom: var(--space-lg) }
.mb-xl { padding-bottom: var(--space-xl) }
.ml-none { padding-left: var(--space-none) }
.ml-auto { padding-left: var(--space-auto) }
.ml-xs { padding-left: var(--space-xs) }
.ml-sm { padding-left: var(--space-sm) }
.ml-md { padding-left: var(--space-md) }
.ml-lg { padding-left: var(--space-lg) }
.ml-xl { padding-left: var(--space-xl) }
.ma-none { padding: var(--space-none) }
.ma-auto { padding: var(--space-auto) }
.ma-xs { padding: var(--space-xs) }
.ma-sm { padding: var(--space-sm) }
.ma-md { padding: var(--space-md) }
.ma-lg { padding: var(--space-lg) }
.ma-xl { padding: var(--space-xl) }
.mx-none { margin-left: var(--space-none); margin-right: var(--space-none) }
.mx-auto { margin-left: var(--space-auto); margin-right: var(--space-auto) }
.mx-xs { margin-left: var(--space-xs); margin-right: var(--space-xs) }
.mx-sm { margin-left: var(--space-sm); margin-right: var(--space-sm) }
.mx-md { margin-left: var(--space-md); margin-right: var(--space-md) }
.mx-lg { margin-left: var(--space-lg); margin-right: var(--space-lg) }
.mx-xl { margin-left: var(--space-xl); margin-right: var(--space-xl) }
.my-none { margin-top: var(--space-none); margin-bottom: var(--space-none) }
.my-auto { margin-top: var(--space-auto); margin-bottom: var(--space-auto) }
.my-xs { margin-top: var(--space-xs); margin-bottom: var(--space-xs) }
.my-sm { margin-top: var(--space-sm); margin-bottom: var(--space-sm) }
.my-md { margin-top: var(--space-md); margin-bottom: var(--space-md) }
.my-lg { margin-top: var(--space-lg); margin-bottom: var(--space-lg) }
.my-xl { margin-top: var(--space-xl); margin-bottom: var(--space-xl) }
